@import './variables';

%body-font {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  @extend %body-font;
  padding: $page-margin;
  margin: 0;
}

%bold {
  font-weight: 400;
}
%italic {
  font-style: italic;
}
b {
  @extend %bold;
}
i {
  @extend %italic;
}
.bold {
  @extend %bold;
}
.italic {
  @extend %italic;
}
p {
  margin: 0;
}

a {
  color: $color-pink;
  text-decoration: none;
  transition: font-weight .2s;
  padding: 0 0 .1em;
  position: relative;

  &:before {
    transform: scaleX(0);
    visibility: hidden;
    content: '';
    position: absolute;
    width: 100%;
    height: .05em;
    bottom: 0;
    left: 0;
    background: $color-pink;
    border-radius: .1px;
    transition: .25s linear;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

ul {
  text-align: left;
  list-style: none;
  padding-left: 2.5em;
  margin: 1.5em 25%;

  li {
    padding-bottom: .5em;

    &:before {
      content: "\2022";
      color: $color-gray;
      display: inline-block;
      width: 1.5em;
      margin-left: -1.5em;
    }
  }
}

ol {
  text-align: left;
  list-style: none;
  padding-left: 2.5em;
  margin: 1.5em 25%;

  li {
    padding-bottom: .5em;
    counter-increment: step-counter;

    &:before {
      content: counter(step-counter);
      color: $color-gray;
      display: inline-block;
      width: 1.5em;
      margin-left: -1.5em;
    }
  }
}


h1 {
  @extend %body-font;
  font-size: 2.5em;
  margin: 1em 5em .5em;
  position: relative;
  overflow: hidden;
  text-transform: lowercase;
}

h2 {
  @extend %body-font;
  @extend %bold;
  font-size: 1.5em;
  margin-top: 2.5em;
  margin-bottom: 2em;
  text-transform: lowercase;
}

.quote {
  @extend %italic;
  text-align: center;
  margin: .5em 0;
}

.description {
  margin: 0 25%;
  display: inline-block;
}

.divider {
  background-color: $color-gray;
  height: 1px;
  width: 30%;
  margin: 3em 35%;
}